PORT=
NODE_ENV=

# Database
DATABASE_URL=
# Razorpay
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

# Frontend URL
FRONTEND_URL=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
